.greeting {
  &__block {
    margin: 295px auto 0;
    max-width: 670px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    & img {
      width: 180px;
    }

    & h1 {
      margin: 39px 0 29px;
      font-size: 26px;
    }

    & span {
      font-size: 12px;
      font-weight: 600;
      // margin-top: 39px;
    }
  }

  &__play-icon {
    display: inline-block;
    content: "";
    background-image: url(../../../public/assets/icons/play_btn-ico.svg);
    width: 12px;
    height: 13px;
    margin-right: 9px;
    margin-bottom: -2px;
  }

  &__text {
    margin-top: 39px;
  }

  &__link {
    display: flex;
    margin-bottom: 100px;
    width: 133px;
    justify-content: space-between;
    align-items: center;

    &-spot {
      & img {
        height: 24px;
        width: 24px;
      }
    }

    &-icloud {
      & img {
        height: 30px;
        width: 30px;
      }
    }

    &-apple {
      & img {
        height: 24px;
        width: 21px;
      }
    }
  }
}